.ost-header {
    .hd-top{
        display: flex;
        width: 100%;
        height: 20px;
        color: #fff;
    }
    .hd-cnt{
        display: flex;
        width: 100%;
        height: 44px;
        color: #fff;
    }
    .ost-header-left {
        width: 15%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding-left: 4%;
    }
    .ost-header-main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ost-header-right {
        width: 15%;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        padding-right: 4%;
    }
}
