.view{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    .header{
        background-color: #35c7fa;
    }
    .view-content{
        padding: 0 4%;
        word-wrap:break-word;
        overflow: auto;
    }
    .my-list {
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    .mycnt-item {
      height: 100px;
      width: 100%;
      background-color: #ffffff;
      border-bottom:1px solid #e5e5e5;
      display: flex;
      align-items: center;
      font-size: 3.75vw;
      padding: 0 4%;
    }
}
