.my-accordion .pad .am-accordion-content-box {
  padding: 0.2rem;
}
.my-accordion .my-list .am-list-body {
  border-top: 0;
  padding-left: 0.2rem;
}
.my-accordion .my-list .am-list-body:after {
  border-bottom: 0;
}
.my-list .am-list-content {
  font-size: 0.2rem;
}
